stages:
  - lint
  - build
  - deploy

variables:
  GIT_DEPTH: 1
  DOCKER_REGISTRY_PROJECT_NAME: clash-subscription
  DOCKER_IMAGE_URL: $HARBOR_HOST/quickex/$DOCKER_REGISTRY_PROJECT_NAME
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA
  PATH_SERVICE: ~/subscribe-clash

# Линтинг для Go API
lint:api:
  stage: lint
  image: golang:1.24-alpine
  tags:
    - shared_runner
  script:
    - cd api
    - go vet ./...
    - go fmt ./...
    - go mod verify
  rules:
    - if: '$CI_COMMIT_BRANCH'
      when: always

# Линтинг для SvelteKit Client
lint:client:
  stage: lint
  image: oven/bun:latest
  tags:
    - shared_runner
  script:
    - cd client
    - bun install --frozen-lockfile
    - bun run build
  cache:
    key:
      files:
        - client/bun.lock
    paths:
      - client/node_modules
    policy: pull
  rules:
    - if: '$CI_COMMIT_BRANCH'
      when: always

# Билд Docker образов
.all:build:
  stage: build
  tags:
    - shared_runner
  rules:
    - if: '$CI_COMMIT_BRANCH'
      when: always
  before_script:
    - unset DOCKER_HOST
    - echo "$HARBOR_PASSWORD" | docker login -u "$HARBOR_USERNAME" "$HARBOR_HOST" --password-stdin
  after_script:
    - docker logout "$HARBOR_HOST"

# Билд API образ
build:api:
  extends: .all:build
  script:
    - docker build --pull -t $DOCKER_IMAGE_URL:api-$IMAGE_TAG -f .ops/Dockerfile.api .
    - docker push $DOCKER_IMAGE_URL:api-$IMAGE_TAG
  needs:
    - job: lint:api

# Билд Client образ
build:client:
  extends: .all:build
  script:
    - docker build --pull -t $DOCKER_IMAGE_URL:client-$IMAGE_TAG -f .ops/Dockerfile.client .
    - docker push $DOCKER_IMAGE_URL:client-$IMAGE_TAG
  needs:
    - job: lint:client

# Деплой
.all:deploy:
  stage: deploy
  extends: .notify_slack
  tags:
    - deploy
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "master"'
      when: always
    - when: manual
  variables:
    F_HOST: $DEPLOY_HOST
  before_script:
    - curl --silent "https://gitlab.com/gitlab-org/incubation-engineering/mobile-devops/download-secure-files/-/raw/main/installer" | bash
    - mkdir -p ~/.ssh/
    - mv "$CI_PROJECT_DIR/.secure_files/$RSA" ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - eval $(ssh-agent -s)
    - ssh-add ~/.ssh/id_rsa
    - ssh-keyscan -H -p "$PORT" "$F_HOST" >> ~/.ssh/known_hosts
    - echo "Before OK!"
  script:
    - ssh $USER@$F_HOST -p $PORT "echo $HARBOR_PASSWORD | docker login -u '$HARBOR_USERNAME' $HARBOR_HOST --password-stdin"
    - ssh $USER@$F_HOST -p $PORT "mkdir -p $PATH_SERVICE"
    - cat .ops/compose.yml | envsubst | ssh $USER@$F_HOST -p $PORT "cat > $PATH_SERVICE/compose.yml"
    - ssh $USER@$F_HOST -p $PORT "docker network inspect public >/dev/null 2>&1 || docker network create public"
    - ssh $USER@$F_HOST -p $PORT "cd $PATH_SERVICE && docker compose pull"
    - ssh $USER@$F_HOST -p $PORT "cd $PATH_SERVICE && docker compose up -d --force-recreate"
    - ssh $USER@$F_HOST -p $PORT "docker image prune -f"
    - echo "Application successfully deployed from $CI_COMMIT_BRANCH"

deploy:
  extends: .all:deploy
  needs:
    - build:api
    - build:client
  variables:
    DOMAIN: get-link.cointocoin.io
    DEPLOY_HOST: $CLASH_HOST
    RSA: RSA_AUTH

.notify_slack:
  stage: deploy
  after_script:
    - |
      DEPLOYER_NAME=${GITLAB_USER_NAME}
      DEVELOPER_NAME=${CI_COMMIT_AUTHOR}
      COMMIT_MESSAGE=${CI_COMMIT_MESSAGE}
      JOB_STATUS=${CI_JOB_STATUS} # success, failed, canceled и т.д.

      if [ "$JOB_STATUS" = "success" ]; then
        STATUS_ICON=":white_check_mark:"
        STATUS_TEXT="✅ Deploy успешно завершен"
      else
        STATUS_ICON=":x:"
        STATUS_TEXT="❌ Deploy завершился ошибкой"
      fi

      MESSAGE="*Deploy Information:*\n\n${STATUS_ICON} *Status:* $STATUS_TEXT\n:globe_with_meridians: *Domain:* $DOMAIN\n:globe_with_meridians: *Source Domain:* $SOURCE_DOMAIN\n:clipboard: *Project Name:* $DOCKER_REGISTRY_PROJECT_NAME\n:male-construction-worker: *Deployer:* $DEPLOYER_NAME\n:link: *Branch:* <$CI_PROJECT_URL/-/tree/$CI_COMMIT_REF_NAME|$CI_COMMIT_REF_NAME>\n:link: *Job:* <$CI_JOB_URL|#$CI_JOB_ID>\n:male-office-worker: *Developer:* $DEVELOPER_NAME\n:page_facing_up: *Commit:* $COMMIT_MESSAGE"

      payload=$(cat <<EOF
      {
        "channel": "#deploy-journal",
        "username": "deploy$bot",
        "text": "$MESSAGE",
        "icon_emoji": ":bot:"
      }
      EOF
      )
      curl -X POST -H 'Content-type: application/json; charset=utf-8' --data "$payload" $SLACK_HOOK
